@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Flame-Bold";
  src: url("../assets/fonts/FlameBold.otf");
}

@font-face {
  font-family: "Flame-Regular";
  src: url("../assets/fonts/FlameRegular.otf");
}

@font-face {
  font-family: "FlameSans";
  src: url("../assets/fonts/FlameSans.otf");
}

@font-face {
  font-family: "Barlow-Bold";
  src: url("../assets/fonts/Barlow-Bold.ttf");
}

@font-face {
  font-family: "Barlow-Medium";
  src: url("../assets/fonts/Barlow-Medium.ttf");
}

@font-face {
  font-family: "Barlow-Regular";
  src: url("../assets/fonts/Barlow-Regular.ttf");
}

@font-face {
  font-family: "FlameSans";
  src: url("../assets/fonts/FlameSans.otf");
}

input,textarea {
  font: 15px/20px "FlameSans";
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  color: #404040;
  box-sizing: border-box;
}

input::placeholder,textarea::placeholder {
  color: #b7b7b7
}

input:focus,textarea:focus {
  outline: none
}

input[type="text"],input[type="number"],input[type="password"],textarea {
  -webkit-appearance: none
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}

input[type=number] {
  -moz-appearance: textfield
}
