.contentblock {
  width: 100%;
  height: 100%;
  padding: 100px 0px 150px;
  margin: 50px 0px 0px;
  display: table;
  background-color: #f9f4f2;
  position: relative;
  top: -120px;
}

.clear {
  clear: both;
}

.hide {
  display: none;
}

.block {
  display: block;
}

.contentwrapper {
  width: 960px;
  margin: 0 auto;
}

.step_sections {
  margin: 0px 0px 20px;
  display: table;
  width: 100%;
  z-index: 99;
  position: relative;
  overflow: hidden;
}

.step_sections .text {
  font-weight: normal;
  position: relative;
  z-index: 1000;
}

.step {
  padding: 12px 12px 10px;
  width: 33.33333%;
  float: left;
  font: 21px/20px "Flame-Regular";
  text-align: center;
  color: #c5a997;
  background-color: #fcebd9;
  position: relative;
  box-sizing: border-box;
}

.step.active {
  background-color: #faaf18;
  color: #8b542f;
}

.step.active span {
  background-color: #8b542f;
}

.step:first-child {
  border-radius: 5px 0px 0px 5px;
}

.step:last-child {
  border-radius: 0px 5px 5px 0px;
}

.step:last-child:before {
  display: none;
}

.step.active:before {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  right: -16px;
  top: 6px;
  transform: rotate(45deg);
  background: #faaf18;
  border-radius: 2px 5px 2px 0px;
  z-index: 1000;
}

.step span {
  border-radius: 50%;
  padding: 5px;
  width: 20px;
  height: 20px;
  display: inline-block;
  font: 13px/10px "Barlow-Bold";
  color: white;
  text-align: center;
  background-color: #c5a997;
  position: relative;
  top: -3px;
  letter-spacing: 1px;
}

.contentwrapper {
  width: 960px;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .step_sections {
    max-height: 45px;
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .step_sections span {
    display: none;
  }

  .step_sections .step {
    padding: 12px;
  }

  .step_sections .text {
    font-size: 19px;
  }

  .step_sections .step.active:before {
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-left: 10px solid #faaf18;
    border-bottom: 24px solid transparent;
    transform: none;
    top: -1px;
    right: -9px;
    background-color: transparent;
  }

  .step_sections .step:nth-child(2) .dekstop {
    display: none;
  }

  .contentwrapper {
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
  }
}
