.menus {
  font-family: "FlameSans";
}

.active {
  overflow: hidden;
}

.contentblock {
  width: 100%;
  height: 100%;
  padding: 100px 0px 150px;
  margin: 50px 0px 0px;
  display: table;
  background-color: #f9f4f2;
  position: relative;
  top: -120px;
}

.contentwrapper {
  width: 960px;
  margin: 0 auto;
}

.menus.menusbackground {
  background: url("https://bkdelivery.co.id/static/website/img/BK_bg.jpg?5218847fa211")
    no-repeat center center fixed;
  background-size: cover;
}

.menus.menusbackground .contentblock {
  background: transparent;
}

.menus .sidebar {
  z-index: 1;
  position: relative;
}

.menus .itemcategories,
.menus .itemlists,
.menus .productwrapper {
  float: left;
}

.menus .itemcategories {
  width: 21%;
  margin-right: 4%;
}

.menus .itemcategories span {
  font-size: 10px;
  color: #919191;
  margin-left: 7px;
}

.menus .itemlists,
.menus .productwrapper {
  width: 75%;
}

.menus .imagewrapper {
  padding: 0 6px;
}

.menus .textcategories {
  color: #8b542f;
  font-family: "Flame-Regular";
  padding: 7px 20px 9px;
  text-transform: capitalize;
  min-height: 47px;
  display: flex;
  align-items: center;
}

.menus .textcategories h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  margin: 0;
  color: #502314;
  text-transform: capitalize;
}

.menus .star {
  margin-left: 8px;
  margin-top: 9px;
  width: initial;
}

.menus .categoriesbox:not(:first-child) {
  margin-top: 8px;
}

.menus .categoriesbox {
  background-color: #fbe6d6;
  border-radius: 10px;
  cursor: pointer;
  font-weight: normal;
  margin: 0;
  position: relative;
  z-index: 101;
}

.menus .categoriesbox a {
  color: #8b542f;
  cursor: pointer;
  display: block;
  font-family: "Flame-Regular";
}

.menus .categoriesbox.active {
  background-color: #faaf18;
}

.menus .categoriesbox.active .textcategories a {
  color: #fff;
}

.menus .mealwrapper {
  position: relative;
}

.menus .mealwrapper .mealselection {
  float: left;
  width: 30%;
  margin-right: 10%;
}

.menus .mealwrapper .mealselection .choice {
  padding: 11px 5px;
}

.menus .mealwrapper .mealselection .list,
.menus .mealwrapper .mealselection .choices .list-double,
.choices .menus .mealwrapper .mealselection .listdouble {
  width: 100%;
  max-width: 116px;
}

.menus .mealwrapper .mealselection .mealselectionicon {
  max-width: 48px;
  margin: 0px;
}

.menus .mealwrapper .drinkwrapper {
  float: left;
  width: 100%;
}

.menus .packagedversiononly {
  opacity: 1;
  float: left;
  display: block;
  transition: opacity 0.1s ease-in;
}

.menus .packagedversiononly.hide {
  opacity: 0;
  display: block;
}

.menus .drinkwrapper.hide {
  opacity: 0;
  height: 0px;
  display: initial;
}

.menus .drinkwrapper {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.menus .imagewrapper img {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.menus .imagewrapper .hide {
  opacity: 0;
  width: 0px;
  display: block;
}

.menus .imagewrapper.fullwidth {
  width: 100%;
  max-width: 100%;
}

.itemcategories.overlaycategory .categories {
  display: none;
}

.itemcategories.overlaycategory.open .categories {
  display: block;
}

.menuboxwrapper {
  display: flex;
  flex-wrap: wrap;
}

.menuboxwrapper .menubox {
  display: grid;
}

.columns {
  display: block;
}

.columns .twocolumn,
.columns .threecolumn,
.columns .fivecolumn {
  float: left;
}

.columns .twocolumn {
  width: 49%;
  margin-right: 2%;
}

.columns .threecolumn {
  width: 32%;
  margin-right: 2%;
}

.columns .fivecolumn {
  width: 18%;
  margin-right: 2%;
}

.columns .twocolumn:nth-child(2n),
.columns .three-column:nth-child(3n),
.columns .five-column:nth-child(5n) {
  margin-right: 0;
}

.menubox {
  float: left;
  width: 40%;
  margin-bottom: 2%;
  margin-right: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 2px 2px 15px -4px #6b6b6b;
}

.menubox img {
  width: 100%;
  object-fit: cover;
}

.menubox span,
.menubox h3 {
  font-family: "Barlow-Regular";
  color: #000;
}

.menubox h3,
.menubox h4 {
  font-weight: normal;
  line-height: 1.2;
}

.menubox h3 {
  margin: 5px 0;
}

.menubox h4 {
  font-family: "Flame-Regular";
  text-transform: capitalize;
  font-size: 23px;
  color: #502314;
  text-align: left;
  margin: 5px 0 0 0;
}

.menubox .directions,
.menubox .directionspromo {
  clear: both;
}

.menubox .directions span,
.menubox .directionspromo span {
  font-family: "Barlow-Regular";
  color: #919191;
  margin-top: 3px;
}

.menubox .directions span {
  float: left;
}

.menubox .directions span:first-child {
  text-align: left;
}

.menubox .directions .price {
  font-size: 17px;
  font-family: "Flame-Regular";
  color: #502314;
}

.menubox .directions .price.discounted {
  color: #d72300;
}

.menubox .directions .price.original {
  text-decoration: line-through;
  font-size: 14px;
  color: #9f816f;
  margin-left: 5px;
  margin-bottom: 6px;
}

.menubox .promo-info,
.menubox .promoprice {
  font: 16px/22px "Barlow-Regular";
  color: #919191;
}

.menubox .promoinfo span {
  font-size: 12px;
}

.menubox .promoinfo span:first-child {
  color: #faaf18;
  font-family: "Barlow-Bold";
}

.menubox .promoinfo span:last-child {
  text-decoration: line-through;
}

.menubox .promoinfo {
  margin-top: 10px;
}

.menubox .buttonadd {
  float: right;
  font: 16px/22px "Flame-Regular";
  padding: 7px 0;
}

.menubox .directions .linkadd {
  float: right;
  font-family: "Barlow-Medium";
  background-color: #ed7801;
  border: none;
  color: #fff;
  width: 120px;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 5px;
  padding: 3px 0px 5px 0px;
}

.menubox .directions .linkadd:focus {
  outline: none;
}

.awesomplete [hidden] {
  display: none;
}

.awesomplete .visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.awesomplete {
  display: inline-block;
  position: relative;
}

.awesomplete > input {
  display: block;
}

.awesomplete > ul {
  position: absolute;
  left: 0;
  z-index: 1;
  min-width: 100%;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
}

.awesomplete > ul:empty {
  display: none;
}

.awesomplete > ul {
  border-radius: 0.3em;
  margin: 0.2em 0 0;
  background: hsla(0, 0%, 100%, 0.9);
  background: linear-gradient(to bottom right, white, hsla(0, 0%, 100%, 0.8));
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0.05em 0.2em 0.6em rgba(0, 0, 0, 0.2);
  text-shadow: none;
}

@supports (transform: scale(0)) {
  .awesomplete > ul {
    transition: 0.3s cubic-bezier(0.4, 0.2, 0.5, 1.4);
    transform-origin: 1.43em -0.43em;
  }

  .awesomplete > ul[hidden],
  .awesomplete > ul:empty {
    opacity: 0;
    transform: scale(0);
    display: block;
    transition-timing-function: ease;
  }
}

/* Pointer */
.awesomplete > ul:before {
  content: "";
  position: absolute;
  top: -0.43em;
  left: 1em;
  width: 0;
  height: 0;
  padding: 0.4em;
  background: white;
  border: inherit;
  border-right: 0;
  border-bottom: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.awesomplete > ul > li {
  position: relative;
  padding: 0.2em 0.5em;
  cursor: pointer;
}

.awesomplete > ul > li:hover {
  background: hsl(200, 40%, 80%);
  color: black;
}

.awesomplete > ul > li[aria-selected="true"] {
  background: hsl(205, 40%, 40%);
  color: white;
}

.awesomplete mark {
  background: hsl(65, 100%, 50%);
}

.awesomplete li:hover mark {
  background: hsl(68, 100%, 41%);
}

.awesomplete li[aria-selected="true"] mark {
  background: hsl(86, 100%, 21%);
  color: inherit;
}

.search {
  position: relative;
  margin-bottom: 30px;
  z-index: 500;
}

.search .searchbutton,
.search .mobilesearchbutton {
  background-color: #ed7801;
  border: none;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  position: absolute;
  right: 1px;
  height: 46px;
  width: 45px;
  cursor: pointer;
  z-index: 1001;
}

.search span.iconmglass {
  background: url("https://bkdelivery.co.id/static/website/img/search-putih.png?4557464df5fe")
    no-repeat;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  display: table;
  margin: 0 auto;
}

.search .mobilesearchbutton {
  display: none;
}

.search .clearsearchbutton {
  position: absolute;
  right: 10px;
  padding: 10px;
  top: 4px;
  z-index: 1000;
  display: none;
}

.search span.iconsearch {
  background: url("https://bkdelivery.co.id/static/website/img/search-grey.png?4557464df5fe")
    no-repeat;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  display: table;
  margin: 0px;
}

.search .active.iconsearch {
  background: url("https://bkdelivery.co.id/static/website/img/field-clear.png?4557464df5fe")
    no-repeat;
  background-size: 16px 16px;
}

.search .desc {
  width: 100%;
}

.search input {
  padding: 12px 60px 12px 17px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px -2px rgba(107, 107, 107, 0.3);
}

.buttonform,
.categoriesmobilebutton {
  display: none;
}

.categoriesbuttonclose {
  display: none;
  z-index: 1001;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 12px 15px;
}

.categoriesbuttonclose img {
  max-width: 25px;
}

.overlay.open,
.menus.active .overlaycategory.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
  z-index: 1000;
}

@media only screen and (max-width: 1024px) {
  .menus .itemcategories {
    width: 100%;
    margin-bottom: 20px;
  }

  .menus .itemcategories .search {
    margin-bottom: 0px;
    height: auto;
  }

  .menus .itemcategories .awesomplete {
    display: none;
  }

  .menus .itemcategories form {
    margin-right: 2%;
    width: 14%;
    display: table;
    float: left;
  }

  .menus .itemcategories .categoriesmobilebutton {
    width: 84%;
    display: table;
    float: left;
    margin: 0px;
  }

  .menus .itemcategories .searchbutton {
    display: none;
  }

  .menus .itemcategories .mobilesearchbutton {
    display: block;
    position: relative;
    border-radius: 9px;
    width: auto;
  }

  .menus .itemcategories .iconmglass {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menus .itemcategories input {
    display: none;
  }

  .categoriesmobilebutton {
    font: 18px / 22px "Flame-Regular";
    background-color: #faaf18;
    color: white;
    border-radius: 10px;
    padding: 12px 20px;
    margin-bottom: 15px;
    box-sizing: border-box;
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
    width: 100%;
    display: block;
    z-index: 499;
  }

  .categoriesmobile-button::before {
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #fff transparent transparent transparent;
  }

  .menus .overlaycategory {
    height: 0px;
    width: 100%;
    opacity: 0;
    box-sizing: border-box;
    z-index: 0;
  }

  .menus.active .overlaycategory {
    transition: opacity 0.3s ease-in;
    overflow-y: scroll;
  }

  .menus.active .overlaycategory span {
    display: none;
  }

  .menus.active .overlaycategory.open {
    z-index: 500;
    height: 100%;
    opacity: 1;
    padding: 80px 20px;
  }

  .menus.active .overlaycategory .categoriesbox {
    width: 48.5%;
    margin-right: 3%;
    margin-bottom: 3%;
    float: left;
  }

  .menus.active .overlaycategory .categoriesbox:nth-child(2n) {
    margin-right: 0;
  }

  .menus .imagewrapper img {
    margin: 0 auto;
    float: none;
  }

  .menus .itemlists {
    width: 100%;
    z-index: 100;
    position: relative;
  }

  .itemlists .menuboxwrapper .menubox {
    width: 100%;
    margin: 0px 0px 10px;
    padding: 8px 10px;
  }

  .itemlists .menuboxwrapper .menubox img {
    vertical-align: middle;
  }

  .itemlists .menubox-wrapper .menubox a {
    display: flex;
    align-items: center;
  }

  .itemlists .menuboxwrapper .directions {
    margin-top: -4px;
  }

  .itemlists .menuboxwrapper .imagewrapper,
  .itemlists .menuboxwrapper .description {
    float: left;
    vertical-align: middle;
    box-sizing: border-box;
  }

  .itemlists .menuboxwrapper .description h4 {
    font-size: 18px;
    line-height: 22px;
    margin: 0px 0px 5px;
  }

  .itemlists .menuboxwrapper .directions .price {
    font-size: 16px;
    margin-bottom: unset;
  }

  .itemlists .menuboxwrapper .directions .price.original {
    font-size: 14px;
    margin-bottom: -0.5px;
  }

  .itemlists .menuboxwrapper .imagewrapper {
    width: 28%;
    margin-right: 2%;
  }

  .itemlists .menuboxwrapper .description {
    width: 70%;
  }

  .menus .contentblock {
    display: block;
  }

  .contentwrapper {
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
  }

  .overlay,
  .menus.active .overlaycategory {
    position: fixed;
    background: #2d2d2d;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
  }

  .overlay span,
  .menus.active .overlaycategory span {
    font: 15px/22px "Flame-Regular";
    color: #faaf18;
    display: block;
  }

  .overlay nav,
  .menus.active .overlaycategory nav {
    position: relative;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    overflow-y: scroll;
    margin-top: 50px;
  }

  .overlay ul,
  .menus.active .overlaycategory ul {
    list-style: none;
    padding: 0 20px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    width: 100%;
    top: calc(20% - 50px);
    box-sizing: border-box;
  }

  .overlay ul li,
  .menus.active .overlaycategory ul li {
    display: block;
    position: relative;
  }

  .overlay ul a,
  .menus.active .overlaycategory ul a {
    font: 32px/36px "Flame-Regular";
    padding: 8px 0px 20px;
    min-height: 20px;
    display: block;
    position: relative;
    color: white;
    text-decoration: none;
    overflow: hidden;
  }

  .overlay ul .small a,
  .menus.active .overlaycategory ul .small a {
    font-size: 25px;
  }

  .overlay hr,
  .menus.active .overlaycategory hr {
    border: none;
    padding-top: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #b7b7b7;
  }

  .overlay ul {
    top: calc(10% - 50px);
  }

  .menus.active .overlaycategory span {
    display: none;
  }

  .menus .categoriesbox:not(:first-child) {
    margin-top: 0px;
  }
}

@media screen and (max-width: 900px) {
  .menus .textcategories {
    padding: 5px 12px 7px;
  }

  .menus .textcategories h3 {
    font-size: 15px;
    line-height: 18px;
  }
}
